/* Main section styles */
.vs-section {
  display: block;
  padding-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  background-color: #DFBA7B;
}

.center {
  align-items: center;
  text-align: center;
}

.vs-text {
  font-size: 60px;
  font-weight: bold;
  color: white;
}

.buy-button {
  margin-top: 20px;
  padding: 15px 40px;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(to right, #FFB703, #de9f00);
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.buy-button:hover {
  transform: scale(1.1);
}

.character {
  width: 35%;
  text-align: center;
}

.character img {
  max-height: 480px;
}

.gen-title {
  font-size: 40px;
  color: #2E2E2E;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.cards .card {
  width: 70px;
  height: 103px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  background-color: #292929;
  transform: rotateY(-10deg);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
}

.cards .card:hover {
  transform: rotateY(-10deg) scale(1.1);
  border: 4px solid #f39c12;
  border-image-slice: 1;
}

.cards .card:active {
  transform: rotateY(-10deg) scale(1.2);
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.cards .card:nth-child(1) {
  transform: rotateY(-10deg) rotateX(-5deg);
  background-color: #ffffff;
}

.cards .card:nth-child(2) {
  transform: rotateY(-15deg);
}

.cards .card:nth-child(3) {
  transform: rotateY(-20deg);
}


.cards .card:nth-child(4) {
  background-color: #ffffff;
  transform: rotateY(10deg) rotateX(5deg);
}

.cards .card:nth-child(5) {
  transform: rotateY(15deg);
}

.cards .card:nth-child(6) {
  transform: rotateY(20deg);
}

/* Effet 1 : Soulignement ondulé */
header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

header nav ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #00ff00, #ff00ff, #00ffff);
  transition: width 0.4s ease, left 0.4s ease;
}

header nav ul li a:hover::after {
  width: 100%;
  left: 0;
}

/* Effet 2 : Effet de zoom subtil */
header nav ul li a:hover {
  color: #ff00ff;
  transform: scale(1.1);
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Effet 3 : Effet d'apparition d'un contour */
header nav ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

header nav ul li a:hover::before {
  border-color: #ff00ff;
}

.container-chara {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.mobil {
  display: none !important;
}

@media (max-width: 1300px) and (min-width: 769px) {
  .character img {
    max-height: 300px;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .mobil {
    display: contents !important;
  }

  .character img {
    max-width: 200px;
    margin-left: -10px;
  }

  .top-mr {
    margin-top: 10px;
  }

  .center {
    display: none;
  }

  .blue-side {
    margin-left: 10px;
  }

  .red-side {
    margin-right: 10px;
  }

  .character {
    width: 45%;
  }

  .cards {
    justify-content: space-around;
  }

  .cards .card {
    height: 80px;
  }
}