.footer {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.footer-ring {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.footer-ring img {
    width: 100%;
    height: auto;
    display: block;
}

.social-menu {
    border: 2px #2D2D2D solid;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF1D3;
    border-radius: 10px;
    padding: 10px 30px 20px;
    box-shadow: 7px 10px 0px 0px #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.social-icon {
    margin-top: -50px;
    position: relative;
    border: 4px #2D2D2D solid;
    width: 100px;
    height: 100px;
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 7px 10px 0px 0px #2D2D2D;
}

.social-icon img {
    width: 80px;
    height: auto;
    display: block;
}

.social-icon.discord {
    background-color: #5865F2;
}


.social-icon.telegram {
    background-color: #0088cc;
}

.social-icon.twitter {
    background-color: #000;
}


.social-icon:hover {
    transform: translate(8px, 8px);
    box-shadow: 0px 0px 0px 0px #2D2D2D;
}


.moving-coins {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

.coin-left,
.coin-right {
    position: absolute;
    height: auto;
}

.coin-left {
    left: 10%;
    top: 20%;
    width: 350px;
    animation: moveUpDown 4s infinite ease-in-out;
}

.coin-right {
    right: 6%;
    width: 350px;
    bottom: 20%;
    animation: moveUpDown 5s infinite linear;
}

@keyframes moveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50px);
    }
}

@media screen and (max-width: 1100px) and (min-width: 768px) {
    .coin-left {
        width: 200px;
    }

    .coin-right {
        width: 200px;
    }
}

@media screen and (max-width:768px) {
    .social-icon {
        width: 50px;
        height: 50px;
        margin-top: -28px;
        box-shadow: 3px 5px 0px 0px #2D2D2D;
    }

    .social-menu {
        top: 80%;
        padding: 10px;
        box-shadow: 3px 7px 0px 0px #000000;
    }

    .social-icon img {
        width: 30px;
    }

    .coin-left {
        top: -10%;
        width: 100px;
        left: 4%;
    }

    .coin-right {
        right: 0%;
        width: 100px;
        bottom: 45%;
    }
}