/* ----------------- Bouton ------------------*/

.button-container {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
  }
  
  .button-shadow {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a; /* Ombre légèrement plus claire que le noir */
    border-radius: 30px;
    z-index: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .button {
    border: .3rem solid #2a2a2a;
    position: relative;
    background-color: #FF914D;
    color: #FFF1D3;
    text-shadow: 3px 0 #3D3D3D, -3px 0 #3D3D3D, 0 3px #3D3D3D, 0 -3px #3D3D3D, 3px 3px #3D3D3D, -3px -3px #3D3D3D, -3px 3px #3D3D3D, 3px -3px #3D3D3D;
    padding: 15px 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    font-size: 50px;
    cursor: pointer;
    /* gap: 30px; */
    z-index: 1;
    display: flex
;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }
  
  .button-container:hover .button {
    transform: translate(8px, 8px); /* La div claire s'enfonce */
  }