.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: #FFF1D3;
    border-radius: 10px;
    border: 3px solid #2d2d2d;
    padding: 20px;
    width: 700px;
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.popup-header {
    border-radius: 10px;
    font-size: 50px;
    font-weight: bold;
    margin: -50px 15% 0px;
    text-shadow: 1px 0 #2D2D2D, -1px 0 #2D2D2D, 0 1px #2D2D2D, 0 -1px #2D2D2D, 1px 1px #2D2D2D, -1px -1px #2D2D2D, -1px 1px #2D2D2D, 1px -1px #2D2D2D;
    border: 2px solid #2d2d2d;
    margin-bottom: 10px;
    background-color: #FF914D;
    color: #FFF1D3;
    text-align: center;
}

.popup-options {
    display: flex;
    justify-content: space-between;
}

.popup-option {
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.popup-option img {
    max-height: 185px;
    margin-top: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.popup-option-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
}

.popup-option button {
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    padding: 8px;
    text-shadow: 2px 0 #2D2D2D, -2px 0 #2D2D2D, 0 2px #2D2D2D, 0 -2px #2D2D2D, 2px 2px #2D2D2D, -2px -2px #2D2D2D, -2px 2px #2D2D2D, 2px -2px #2D2D2D;
    border: 2px solid #2d2d2d;
    margin-bottom: 10px;
    background-color: #FF914D;
    color: #FFF1D3;
}


.buy-btn:hover {
    scale: 1.05;
}


@media screen and (max-width: 1250px) and (min-width:768px) {
    .popup-option img {
        max-height: 160px;
    }
}

@media screen and (max-width: 768px) {
    .popup-option img {
        max-height: 120px;
    }
    .popup-option button {
        font-size: 20px;
    }
    .popup-header {
        font-size: 30px;
        margin: -50px 5% 0px;
        padding: 5px;
    }
}