/* Ajout des animations pour les hovers */

.tokenomics-container {
    max-width: 1380px;
    width: 86%;
    margin: 100px auto 0px;
    background-color: #CBB78D;
    border-radius: 10px;
    border: 2px solid #2d2d2d;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.tokenomics-container:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.tokenomics-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF1D3;
    border: 2px solid #8C7E60;
    padding: 10px 20px;
    border-radius: 10px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.tokenomics-title-wrapper:hover {
    background-color: #fff3df;
    transform: translateX(-50%) scale(1.1);
}

.tokenomics-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #2E2E2E;
    margin: 0;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.tokenomics-title:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.tokenomics-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 70px 20px 50px;
}

.tokenomics-details {
    display: flex;
    flex-direction: column;
}

.tokenomics-item {
    font-size: 50px;
    color: #FFF1D3;
    text-shadow: 2px 0 #3F3A30, -2px 0 #3F3A30, 0 2px #3F3A30, 0 -2px #3F3A30, 2px 2px #3F3A30, -2px -2px #3F3A30, -2px 2px #3F3A30, 2px -2px #3F3A30;
    margin: 10px 0;
    display: flex;
    align-items: center;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.tokenomics-item:hover {
    text-shadow: 2px 2px 5px rgba(136, 50, 50, 0.5);
}

.tokenomics-box {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: 2px solid #3F3A30;
    border-radius: 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tokenomics-box:hover {
    transform: scale(1.2) rotate(10deg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.tokenomics-box.red {
    background-color: #FF4D4D;
}

.tokenomics-box.blue {
    background-color: #5DADEC;
}

.tokenomics-box.orange {
    background-color: #FFA500;
}

.tokenomics-box.green {
    background-color: #7CFC00;
}

.percentage {
    font-weight: bold;
    color: #000;
    padding-left: 10px;
}

.tokenomics-chart {
    max-width: 300px;
    text-align: center;
}

.tokenomics-piechart {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;

}

.tokenomics-piechart:hover {
    transform: rotate(360deg);
}

@media (max-width: 768px) {
    .tokenomics-content {
        flex-direction: column;
        align-items: center;
        padding: 60px 15px 20px 15px;
    }

    .tokenomics-details {
        order: 1;
        margin-bottom: 20px;
        text-align: center;
    }

    .tokenomics-chart {
        order: 2;
        max-width: 100%;
        /* S'assure que le graphique s'adapte aux petits écrans */
        margin-top: 20px;
    }

    .tokenomics-piechart  {
        width: 85%;
    }

    .tokenomics-item {
        font-size: 25px;
        /* Réduit la taille de police pour les écrans mobiles */
    }

    .tokenomics-box {
        width: 25px;
        height: 25px;
    }

    .tokenomics-title {
        font-size: 45px;
    }
}